---
import PageLayout from "@/layouts/Base.astro";
import SocialList from "@/components/SocialList.astro";
export const prerender = true;

const meta = {
	description: "仙人掌主题",
	// 修改：关于
	title: "关于",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-8">关于</h1>

	<div class="prose prose-sm prose-cactus max-w-none">
    <p style="color: #FF6B6B;"> <!-- 珊瑚红 -->
        大家好！欢迎来到我的博客！我是Zhen XI，一个热爱生活、喜欢分享的开发爱好者。在这里，我希望通过文字记录我的所思所想，与志同道合的朋友们交流和成长。
    </p>
    <p style="color: #4ECDC4;"> <!--  turquoise绿松石色 -->
        开这个博客的初衷很简单：我想有一个属于自己的小角落，记录生活的点滴，同时也希望我的内容能给读者带来一些启发或欢乐。如果我的文字能让你会心一笑，或者引发你的共鸣，那将是我的荣幸！
    </p>
    <p style="color: #FFB085;"> <!-- 浅橙色 -->
        如果你有任何想法或者建议，也可以通过zhenxi@linux.do与我联系，我会认真倾听每一条反馈。
    </p>
    <p style="color: #6B5B95;"> <!-- 紫罗兰色 -->
        未来的日子里，我会持续更新博客内容，分享更多有趣的故事和有价值的信息。希望你能常来坐坐，我们一起在文字的世界里探索和成长！
    </p>
    <p style="color: #88B04B;"> <!-- 橄榄绿 -->
        谢谢你的到来！
    </p>

	</div>
	<div>
		<SocialList />
	</div>
</PageLayout>
